<div class="tally_home_section THS_tally_home_text  tally_home_text">
  <div class="tally_home_section_inner">
    <div class="col-holder nomargin">
      <div class="col col_6">
        <div class="tally_homeBlock_text thbt_skin1 thbt_text_1 thbt_align_">
          <div class="thbt_inner">
          </div>
        </div>
      </div>
      <div class="col col_6">
        <div class="tally_homeBlock_text thbt_skin1 thbt_text_2 thbt_align_left">
          <div class="thbt_inner">
            <h4 class="thbt_title" style="margin-bottom:0;">
              Caring, Compassionate &amp; Consistent Aged &amp; Disability Care Services </h4>
            <span class="thbt_subtitle">
                -Our Promise To You-            </span>
            <div class="thbt_des">
              Our home care services are delivered by carers who are always professional, courteous and reliable, and with the help of
              our service will be scheduled according to your family's specific needs. Carers who enter your home will always
              be trained in advance, and will be taught your loved one's routine and care schedule before entering your home,
              to eliminate any confusion and to ensure you are never left without the peace of mind that you are entitled
              to. </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="tally_home_section THS_tally_home_parallax1 tally_home_parallax">
  <div class="tally_home_section_inner">
    <div class="col-holder nomargin">
      <div class="col col_12">
        <div class="tally_homeBlock_text thbt_skin1 thbt_parallax thbt_align_center">
          <div class="thbt_inner">
            <h4 class="thbt_title">
              LIVE IN YOUR OWN HOME, ON YOUR OWN TERMS </h4>
            <div class="thbt_des">
              Best Choice Care is simply not like other agencies. Here the power is always given to you, the client. Your needs and your
              family's wishes will always come first and we will do everything in our power to customise our services in
              a way that allows you to live life while being granted the freedom, safety and hassle-free care that you deserve.
              </div>
            <a class="thbt_more" href="http://bestchoicecare.com.au/get-started/">How To Get Started Today</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
