<div class="tally_home_section THS_tally_home_infoBox  tally_home_infoBox">
  <div class="col-holder nomargin">
    <div class="col col_3">
      <div class="tally_homeBlock_infoBox thBi_skin1 thBi_infobox_1">
        <div class="thbib_inner">
          <h4 class="thbib_title">
            <i class="fa fa-clock-o"></i>
            <a href="http://bestchoicecare.com.au/24-hour-care/">24-Hour Care</a>
          </h4>
          <div class="thbib_text">We provide as much care as needed to ensure the health and safety of your loved one.</div>
        </div>
      </div>
      <div class="tally_homeBlock_infoBox thBi_skin1 thBi_infobox_5">
        <div class="thbib_inner">
          <h4 class="thbib_title">
            <i class="fa fa-pagelines"></i>
            <a href="http://bestchoicecare.com.au/mental-stimulation/">Mental Stimulation</a>
          </h4>
          <div class="thbib_text">We provide methods for keeping your mind sharp and active with our regular assistance throughout our home care programs.</div>
        </div>
      </div>
    </div>
    <div class="col col_3">
      <div class="tally_homeBlock_infoBox thBi_skin1 thBi_infobox_2">
        <div class="thbib_inner">
          <h4 class="thbib_title">
            <i class="fa fa-child"></i>
            <a href="http://bestchoicecare.com.au/social-support/">Social Support</a>
          </h4>
          <div class="thbib_text">We provide friendly companionship and facilitate active social engagement for our clients.</div>
        </div>
      </div>
      <div class="tally_homeBlock_infoBox thBi_skin1 thBi_infobox_6">
        <div class="thbib_inner">
          <h4 class="thbib_title">
            <i class="fa fa-check-square-o"></i>
            <a href="http://bestchoicecare.com.au/qualified-care">Qualified Care</a>
          </h4>
          <div class="thbib_text">Our carers are monitored, expertly trained and informed of your specific needs before entering your home.</div>
        </div>
      </div>
    </div>
    <div class="col col_3">
      <div class="tally_homeBlock_infoBox thBi_skin1 thBi_infobox_3">
        <div class="thbib_inner">
          <h4 class="thbib_title">
            <i class="fa fa-calendar-o"></i>
            <a href="http://bestchoicecare.com.au/consistent-rosters/">Consistent Rosters</a>
          </h4>
          <div class="thbib_text">Get peace of mind by having consistent times for our carers to enter your home when servicing your home care needs.</div>
        </div>
      </div>
      <div class="tally_homeBlock_infoBox thBi_skin1 thBi_infobox_7">
        <div class="thbib_inner">
          <h4 class="thbib_title">
            <i class="fa fa-wheelchair"></i>
            <a href="http://bestchoicecare.com.au/respite">Respite</a>
          </h4>
          <div class="thbib_text">Our home care assists with rest and relief from physical and mental burdens thanks to the presence of our trained staff.</div>
        </div>
      </div>
    </div>
    <div class="col col_3">
      <div class="tally_homeBlock_infoBox thBi_skin1 thBi_infobox_4">
        <div class="thbib_inner">
          <h4 class="thbib_title">
            <i class="fa fa-cutlery"></i>
            <a href="http://bestchoicecare.com.au/help-at-home">Help At Home</a>
          </h4>
          <div class="thbib_text">Relieve additional burden by letting us help with cleaning, meal preparation and household errands.</div>
        </div>
      </div>
      <div class="tally_homeBlock_infoBox thBi_skin1 thBi_infobox_8">
        <div class="thbib_inner">
          <h4 class="thbib_title">
            <i class="fa fa-medkit"></i>
            <a href="http://bestchoicecare.com.au/help-at-home">Medication Reminders</a>
          </h4>
          <div class="thbib_text">We take your health seriously and provide enforced reminders to ensure that your medication is never missed. </div>
        </div>
      </div>
    </div>
  </div>
</div>