i {
  transition: all 150ms ease-out;
  float: left;
  font-size: 30px;
  margin-right: 10px;
  height: 42px;
  width: 42px;
  text-align: center;
  line-height: 40px;
  border-radius: 5px;
  margin-top: 3px;
  color: rgb(193, 193, 193);
  background-color: rgb(244, 244, 244);
}

p {
  margin: 5px 0 2px 0;
  font-size: 13px;
  font-weight: bold;
}

span {
  font-size: 12px;
}